[submodule "externals/imgui"]
	path = externals/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "externals/spdlog"]
	path = externals/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "externals/mipp"]
	path = externals/mipp
	url = git@github.com:aff3ct/MIPP.git
